body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

.cajaProducto {
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.cajaProducto img {
    max-width: 100%;
}

#carrito {
    border: 1px solid red;
    padding: 10px;
    margin-top: 20px;
}

#itemsCarrito {
    list-style-type: none;
    padding: 0;
}

#totalCarrito {
    font-weight: bold;
}

.agregar-al-carrito {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agregar-al-carrito:hover {
    background-color: darkred;
}